.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    color: #c97e7e;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.optmenu {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: all 1s solid;
}

.optmenu:hover{
    color: #ffffff;
    background-color: #636363ab;
    transition: all 1s solid;
}

.optmenu:active {
    background-color: rgb(110, 110, 110);
}


/* PERSONALIZACION MENU HAMBURGUESA */

.navbar-toggler{
    background-color: #d6dbe300;
    border: 3px solid #ffffff00;
}

.navbar-toggler:hover {
    background-color: #cecece8e;
}

.custom-toggler.navbar-toggler{
    border-color: 3px solid #686868a2;
}


/* PERSONALIZACION Linea MENU HAMBURGUESA */


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.titulo1{
    font-size: 100px;
}

header h1{
    height: 400px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.rombo {
    clip-path: polygon(50% 0%, 90% 50%, 50% 100%, 10% 50%);
}

.container-botonws {
    /*color de fondo imagen*/
    background-color: #e4e4e407; 
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    bottom: 30px;
    right: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-botonws:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/*efecto de animación imagen chat*/

.botonws {
    width: 100px;
    transition: ease 1s;
}

@keyframes efecto {
    0% {
        box-shadow: 0 0 0 0 rgba(136, 121, 121, 0.85);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

.hr-black {
    border-top: 2px solid black;
    width: 50%;
    margin: 0 auto;
}


.rrss{
    width: 50px; 
    margin: 0 10px;
}

.conte1{
    font-size: 25px;
}

.wa{
    width: 80px;
    padding-left: -40px;
    margin-left: -9px;
    
}


/*formulario*/

label {
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    float: left;
    
}

.fondo3 {
    background-image: url(../imagenes/contactusform.jpg);
    width: 100%;
}


/* Para agregar un borde cuando se activan los campos */

input:hover {
    outline: 1px solid rgb(0, 0, 0);
}

textarea:hover {
    outline: 1px solid rgb(0, 0, 0);
}


/* Propiedades de los campos */

input,
textarea {
    cursor: pointer;
    background-color: #ffffff !important;
}


textarea {
    resize: none;
    /*
  height:150px;
  max-height:150px;
  min-height:150px;
  max-width:auto;
  min-width:400px;*/
}




.enviar, .borrar {
    width: 170px;
    height: 60px;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    border-width: 2px;
    border: 2px solid transparent;
    background-color: #000000;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.enviar:hover, .borrar:hover {
    background-color: rgba(0, 0, 0, 0.753) !important;
    color: #ffffff;
}

.enviar:focus, .borrar:focus {
    outline: none;
}

.enviar {
    margin-right: 20px;
    background-color: #000000;
}

.borrar {
    background-color: #333;
}



.banner1 {
    background-image: url('../imagenes/contactbanner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    height: 300px;
}

.fondoFooter{
    background-color: #ffffff;
    margin-left: -30px;
    margin-right: -35px;
    margin-bottom: -40px;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.fondoFooter h2, h3{
    color: rgb(0, 0, 0);
    font-size: 15px;
}




