.col1 {
    background-color: #ff0000;
}

.col2 {
    background-color: #8cd800;
}

.col3 {
    background-color: #ff9900;
}

h2 {
    font-size: 15px;
}

p {
    font-size: 13px;
}

.navbar {
    background-color: rgb(253, 170, 184) !important; /* Cambiar el color de fondo a rosado */
}

.dropdown-menu{
    background-color: rgba(255, 164, 148, 0.479);
}

.dropdown-item:hover {
    background-color: rgba(255, 164, 148, 0.479); /* Hacer el fondo transparente al pasar el ratón */
}


.footer {
    background-color:  rgb(253, 170, 184); 
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.footer,h2 {
    font-size: 30px;
}