.fondo{
    background-image: url(https://images.unsplash.com/photo-1622017276002-814e54831411?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.fondo1 {
    background-color: rgba(255, 60, 0, 0.397);
}

.red-text {
    color: rgb(255, 150, 150);
}

.custom-color-btn {
    color: rgb(255, 150, 150);
    border-color: rgb(255, 150, 150);
}

.custom-color-btn:hover,
.custom-color-btn:active,
.custom-color-btn:focus {
    background-color: rgb(255, 150, 150);
    border-color: rgb(255, 150, 150);
    color: white;
}

.custom-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 150, 150);
    border-color: rgb(255, 255, 255);
}

.custom-btn:hover,
.custom-btn:active,
.custom-btn:focus {
    background-color: rgb(220, 120, 120);
    border-color: rgb(220, 120, 120);
}

.navbar {
    background-color: rgb(255, 150, 150) !important; /* Cambiar el color de fondo a rosado */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu{
    background-color: rgba(255, 164, 148, 0.479);
}

.dropdown-item:hover {
    background-color: rgba(255, 179, 221, 0.719); /* Hacer el fondo transparente al pasar el ratón */
}

.footer {
    background-color: #cfc2b4; 
    background-size: cover;
    position: fixed;
    bottom: 0;
}