.banner {
    display: flex;
    align-items: center;
    /*banner a todo lo ancho, lo de cover*/
    background-size: cover;
    background-position: center;
    background-image: url(/tarea2/Reto6/imagenes/Bici.jpg);
    /*color del modo*/
    background-color: #4a587793;
    /*modo de color*/
    background-blend-mode: luminosity;
    /* profunidad */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: rgb(253, 170, 184) !important; /* Cambiar el color de fondo a rosado */
}

.dropdown-menu{
    background-color: rgba(255, 164, 148, 0.479);
}

.dropdown-item:hover {
    background-color: rgba(255, 164, 148, 0.479); /* Hacer el fondo transparente al pasar el ratón */
}

.espacio {
    padding: 120px 0;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 22px;
}

.btn-rounded {
    border-radius: 30px; /* Puedes ajustar este valor según lo redondeado que quieras que sean los botones */
}

.footer {
    background-color:  rgb(253, 170, 184); 
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}