h2 {
    color: #FFBF63;
}

.navbar {
    background-color: rgb(253, 170, 184) !important; /* Cambiar el color de fondo a rosado */
}

.dropdown-menu{
    background-color: rgba(255, 164, 148, 0.479);
}

.dropdown-item:hover {
    background-color: rgba(255, 164, 148, 0.479); /* Hacer el fondo transparente al pasar el ratón */
}

.custom-h1 {
    font-size: 2.8em; /*Ajustar tamaño*/
}

.custom-btn {
    background-color: #FFBF63; 
    color: #333;
    width: 250px;
}
.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.footer {
    background-color:  rgb(253, 170, 184); 
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;
}