.navbar {
    background-color: rgb(253, 170, 184) !important; /* Cambiar el color de fondo a rosado */
}

.dropdown-menu{
    background-color: rgba(255, 164, 148, 0.479);
}

.dropdown-item:hover {
    background-color: rgba(255, 164, 148, 0.479); /* Hacer el fondo transparente al pasar el ratón */
}

.banner1 {
    background-image: url(../tarea2/blossom2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.301);
}

.container-fluid2 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.fondo1{
    background-color: rgb(253, 170, 184);
}
.banner2 {
    background-image: url(../tarea2/blossom.jpg);
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.082);
}

.footer {
    background-color: #cfc2b4; 
    padding: 20px;
}